on:
  workflow_call:
    inputs:
      projectId:
        description: "Firebase Project to deploy to"
        required: true
        type: string
      channelId:
        description: "Channel - leave blank for preview"
        required: false
        default: ""
        type: string
      environment:
        description: "Environment target to build"
        default: "production"
        type: string
        required: false
    secrets:
      GH_READ_PACKAGES_TOKEN:
        required: true
      firebaseServiceAccount:
        required: true

permissions:
  contents: read
  pull-requests: write
  issues: write
  checks: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
          registry-url: "https://npm.pkg.github.com"
          scope: "@bx-looop"

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}

      - name: Build
        run: npm run build:${{ inputs.environment }}

      - name: Export for Firebase
        run: npm run export-firebase
        env:
          NEXT_PUBLIC_PROJECT: ${{ inputs.projectId }}

      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: ${{ secrets.GITHUB_TOKEN }}
          firebaseServiceAccount: ${{ secrets.firebaseServiceAccount }}
          channelId: ${{ inputs.channelId }}
          projectId: ${{ inputs.projectId }}
