on:
  workflow_call:

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: git-leaks
      uses: bx-looop/gitleaks-action@v1.7.2
