on:
  workflow_call:
    inputs:
      working-directory:
        description: 'Directory to process'
        default: './'
        required: false
        type: string
    secrets: 
      GH_READ_PACKAGES_TOKEN:
        required: true

permissions:
  contents: read

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' || github.event_name == 'pull_request_target' }}
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.head_ref }} # checkout the head if we have pull_request_target

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'
          cache-dependency-path: '**/package-lock.json'
          registry-url: 'https://npm.pkg.github.com'
          scope: '@bx-looop'
      
      - name: Install dependencies
        run: npm ci
        working-directory: ${{ inputs.working-directory }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}
      
      - name: Lint code
        run: npm run lint
        working-directory: ${{ inputs.working-directory }}
      
      - name: Run Tests
        run: npm run test
        working-directory: ${{ inputs.working-directory }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GH_READ_PACKAGES_TOKEN }}